{% extends 'baseuser.html' %}
{% load static %}

{% block title %}Recuperar contrasena{% endblock %}

{% block content %}


<h2>Establecer una nueva contraseña</h2>

{% if validlink %}
    <p>Ingresa tu nueva contraseña a continuación.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Cambiar contraseña</button>
    </form>
{% else %}
    <p>El enlace de restablecimiento de contraseña no es válido, posiblemente porque ya se ha usado. Por favor, solicita un nuevo restablecimiento de contraseña.</p>
{% endif %}

{% endblock %}