{% extends 'base.html' %}
{% load static %}

{% block title %}Crear alquiler{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}

    <label for="id_Direccion_Propiedad" class="bg-red-600">Direccion Propiedad:</label>
    <input type="text" name="Direccion_Propiedad" required id="id_Direccion_Propiedad">

    <label for="id_Dueno">Dueno:</label>
    <select name="Dueno" required id="id_Dueno">
  <option value="" selected>---------</option>

  <option value="1">Bocajs</option>

</select>

    <label for="id_Inquilino">Inquilino:</label>
    <input type="text" name="Inquilino" required id="id_Inquilino">

    <label for="id_Fecha_contrato">Fecha contrato:</label>
    <input type="text" name="Fecha_contrato" required id="id_Fecha_contrato">

    <label for="id_Precio_mensual">Precio mensual:</label>
    <input type="number" name="Precio_mensual" required id="id_Precio_mensual">

    <label for="id_Meses_actualizacion_IPC">Meses actualizacion IPC:</label>
    <input type="number" name="Meses_actualizacion_IPC" required id="id_Meses_actualizacion_IPC">

    <input type="submit">
</form>

{% endblock %}
