{% extends 'base.html' %}
{% load static %}

{% block title %}Crear alquiler{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
<div class="flex">
    <div class="relative m-1 w-1/4 flex">
        <input type="text" id="id_Precio_agua" name="Direccion_Propiedad" required class="block px-2.5 pb-2.5 pt-2.5 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none  dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer hover:cursor-pointer focus:cursor-text disabled:bg-gray-300 disabled:border-gray-400" placeholder=" " disabled/>
        <input type="checkbox" id="checkbox-agua" class="ml-2">
        <label for="id_Direccion_Propiedad" id="label-agua" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-[18px] scale-75 top-2 z-10 origin-[0] px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-[18px] rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1 rounded-sm">Agua:</label>
        
    </div>

    <div class="relative m-1 w-1/4 flex">
        <input type="text" id="id_Precio_aBL" name="Direccion_Propiedad" required class="block px-2.5 pb-2.5 pt-2.5 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none  dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer hover:cursor-pointer focus:cursor-text disabled:bg-gray-300 disabled:border-gray-400" placeholder=" " disabled/>
        <input type="checkbox" id="checkbox-aBL" class="ml-2">
        <label for="id_Direccion_Propiedad" id="label-aBL" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-[18px] scale-75 top-2 z-10 origin-[0] px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-[18px] rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1 rounded-sm">ABL:</label>
        
    </div>
    <div class="relative m-1 w-1/4">
        <input type="text" id="id_Direccion_Propiedad" name="Direccion_Propiedad" required class="block px-2.5 pb-2.5 pt-2.5 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none  dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer hover:cursor-pointer focus:cursor-text" placeholder=" " />
        <label for="id_Direccion_Propiedad" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-[18px] scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-[18px] rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">adsdas:</label>
    </div>
    <div class="relative m-1 w-1/4">
        <input type="text" id="id_Direccion_Propiedad" name="Direccion_Propiedad" required class="block px-2.5 pb-2.5 pt-2.5 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none  dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer hover:cursor-pointer focus:cursor-text" placeholder=" " />
        <label for="id_Direccion_Propiedad" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-[18px] scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-[18px] rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Agua:</label>
    </div>
</div>

<script src="/static/prueba.js"></script>
{% endblock %}
