
                    <button class="bg-azulado p-1.5 rounded-sm hover:cursor-pointer btn_abrir_alquiler_modal"><i class="bi bi-pencil-square text-white w-5 h-5"></i></button>
                    <dialog class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 p-6 bg-white rounded-lg shadow-xl alquiler_modal">
                        <div class="flex items-center justify-center flex-col font-TikTok-sans text-base">
                            <div class="flex w-full mb-3.5 justify-end">
                                <button class="hover:cursor-pointer btn_cerrar_modal_alquiler" title="cancelar"><i class="bi bi-x-circle text-2xl text-azulado"></i></button>
                            </div>
                            <form action="{% url 'editar_alquiler' alquiler.id %}" method="post">
                                {% csrf_token %}
                                <div class="flex flex-wrap m-1">
                                    <label for="id_Direccion_Propiedad" class="w-full">Direccion Propiedad:</label>
                                    <input type="text" name="Direccion_Propiedad" required id="id_Direccion_Propiedad" class="border-red-300 border-2 w-full outline-none" value="{{alquiler.Direccion_Propiedad}}">
                                </div>
                                <div class="flex flex-wrap m-1">
                                    <label for="id_Dueno" class="w-full">Dueño:</label>
                                    <select name="Dueno" required id="id_Dueno" class="border-red-300 border-2 w-full outline-none">
                                        <option value="{{alquiler.Dueno.id}}" selected>{{alquiler.Dueno}}</option>
                                    </select>
                                </div>
                                <div class="flex flex-wrap m-1">
                                    <label for="id_Inquilino" class="w-full">Inquilino:</label>
                                    <input type="text" name="Inquilino" required id="id_Inquilino" class="border-red-300 border-2 w-full outline-none" value="{{alquiler.Inquilino}}">
                                </div>
                                <div class="flex flex-wrap m-1">
                                    <label for="id_Fecha_contrato" class="w-full">Fecha contrato:</label>
                                    <input type="text" name="Fecha_contrato" required id="id_Fecha_contrato" class="border-red-300 border-2 w-full outline-none" value="{{alquiler.Fecha_contrato|date:'d/m/Y' }}">
                                </div>
                                <div class="flex flex-wrap m-1">
                                    <label for="id_Precio_mensual" class="w-full">Precio mensual:</label>
                                    <input type="number" name="Precio_mensual" required id="id_Precio_mensual" class="border-red-300 border-2 w-full outline-none" value="{{alquiler.Precio_mensual}}">
                                </div>
                                <div class="flex flex-wrap m-1">
                                    <label for="id_Precio_Agua" class="w-full">Precio Agua:</label>
                                    <input type="number" name="Precio_Agua" required id="id_Precio_Agua" class="border-red-300 border-2 w-full outline-none">
                                </div>
                                <div class="flex flex-wrap m-1">
                                    <label for="id_Precio_ABL" class="w-full">Precio ABL:</label>
                                    <input type="number" name="Precio_ABL" required id="id_Precio_ABL" class="border-red-300 border-2 w-full outline-none">
                                </div>
                                <div class="flex flex-wrap m-1">
                                    <label for="id_Meses_actualizacion_IPC" class="w-full">Meses actualizacion IPC:</label>
                                    <input type="number" name="Meses_actualizacion_IPC" required id="id_Meses_actualizacion_IPC" class="border-red-300 border-2 w-full outline-none" value="{{alquiler.Meses_actualizacion_IPC}}">
                                </div>
                                <div class="flex flex-wrap m-1">
                                    <label for="id_Porcentaje_actualizacion" class="w-full">Porcentaje de actualizacion</label>
                                    <input type="number" step="any" name="Porcentaje_actualizacion" id="id_Porcentaje_actualizacion" class="border-red-300 border-2 w-full outline-none" value="{{alquiler.Porcentaje_actualizacion}}" disabled>
                                </div>
                                <div class="flex flex-wrap m-1">
                                    <label for="id_Observacion" class="w-full">Observaciones:</label>
                                    <input type="text" name="Observacion" required id="id_Observacion" class="border-red-300 border-2 w-full outline-none">
                                </div>
                                <div class="flex flex-wrap m-1">
                                    <label for="id_Cancelacion_pago" class="w-full">Dueño:</label>
                                    <select name="Cancelacion_pago" required id="id_Cancelacion_pago" class="border-red-300 border-2 w-full outline-none">
                                        <option value="" {% if not alquiler.Cancelacion_pago %}selected{% endif %} disabled>Elija un metodo</option>
                                            {% for metodo in form.Cancelacion_pago.field.queryset %}
                                                <option value="{{ metodo.id }}" {% if metodo == alquiler.Cancelacion_pago %}selected{% endif %}>{{ metodo.Metodo }}</option>
                                            {% endfor %}
                                    </select>
                                </div>
                                <div class="flex justify-end mt-4 mb-4">
                                    <button type="submit" class="glass-blue p-2 rounded-lg hover:cursor-pointer" title="Guardar cambios">Guardar</button>
                                </div>
                            </form>
                                
                        </div>
                    </dialog>
