
                    <button class="glass-blue p-2 rounded-lg hover:cursor-pointer btn_abrir_alquiler_modal">Crear</button>
                    <dialog class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 p-6 bg-white rounded-lg shadow-xl alquiler_modal w-1/2">
                        <div class="flex items-center justify-center flex-col font-TikTok-sans text-base">
                            <div class="flex w-full mb-3.5 justify-end">
                                <button class="hover:cursor-pointer btn_cerrar_modal_alquiler" title="cancelar"><i class="bi bi-x-circle text-2xl text-azulado"></i></button>
                            </div>
                            <form action="{% url 'crear_alquiler' %}" method="post" class="w-full">
                                {% csrf_token %}
                                <div class="flex flex-wrap m-1">
                                    <label for="id_Direccion_Propiedad" class="w-full">Direccion Propiedad:</label>
                                    <input type="text" name="Direccion_Propiedad" required id="id_Direccion_Propiedad" class="border-red-300 border-2 w-full outline-none">
                                </div>
                                <div class="flex flex-wrap m-1">
                                    <label for="id_Dueno" class="w-full">Dueño:</label>
                                    <select name="Dueno" required id="id_Dueno" class="border-red-300 border-2 w-full outline-none">
                                        <option value="" selected>---------</option>
                                  {% for dueno in form.Dueno.field.queryset %}
                                        <option value="{{ dueno.id }}">{{ dueno.Nombre }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                <div class="flex flex-wrap m-1">
                                    <label for="id_Inquilino" class="w-full">Inquilino:</label>
                                    <input type="text" name="Inquilino" required id="id_Inquilino" class="border-red-300 border-2 w-full outline-none">
                                </div>
                                <div class="flex flex-wrap m-1">
                                    <label for="id_Fecha_contrato" class="w-full">Fecha contrato:</label>
                                    <input type="text" name="Fecha_contrato" required id="id_Fecha_contrato" class="border-red-300 border-2 w-full outline-none">
                                </div>
                                <div class="flex flex-wrap m-1">
                                    <label for="id_Precio_mensual" class="w-full">Precio mensual:</label>
                                    <input type="number" name="Precio_mensual" required id="id_Precio_mensual" class="border-red-300 border-2 w-full outline-none">
                                </div>
                                <div class="flex flex-wrap m-1">
                                    <label for="id_Precio_Agua" class="w-full">Precio Agua:</label>
                                    <input type="number" name="Precio_Agua" id="id_Precio_Agua" class="border-red-300 border-2 w-full outline-none">
                                </div>
                                <div class="flex flex-wrap m-1">
                                    <label for="id_Precio_ABL" class="w-full">Precio ABL:</label>
                                    <input type="number" name="Precio_ABL" id="id_Precio_ABL" class="border-red-300 border-2 w-full outline-none">
                                </div>
                                <div class="flex flex-wrap m-1">
                                    <label for="id_Precio_Pasto" class="w-full">Precio corte de pasto:</label>
                                    <input type="number" name="Precio_Pasto" id="id_Precio_Pasto" class="border-red-300 border-2 w-full outline-none">
                                </div>
                                <div class="flex flex-wrap m-1">
                                    <label for="id_Meses_actualizacion_IPC" class="w-full">Meses actualizacion IPC:</label>
                                    <input type="number" name="Meses_actualizacion_IPC" required id="id_Meses_actualizacion_IPC" class="border-red-300 border-2 w-full outline-none">
                                </div>
                                <div class="flex flex-wrap m-1">
                                    <label for="id_Observacion" class="w-full">Observaciones:</label>
                                    <textarea name="Observacion" id="id_Observacion" class="border-red-300 border-2 w-full outline-none resize-none" rows="3" maxlength="250">{{alquiler.Observacion}}</textarea>
                                </div>
                                <div class="flex flex-wrap m-1">
                                    <label for="id_Cancelacion_pago" class="w-full">Metodo de pago:</label>
                                    <select name="Cancelacion_pago" required id="id_Cancelacion_pago" class="border-red-300 border-2 w-full outline-none">
                                        <option value="" selected disabled>Elija un metodo</option>
                                  {% for metodo in form.Cancelacion_pago.field.queryset %}
                                        <option value="{{ metodo.id }}">{{ metodo.Metodo }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                
                                <div class="flex justify-end mt-4 mb-4">
                                    <button type="submit" class="glass-blue p-2 rounded-lg hover:cursor-pointer">Crear</button>
                                </div>
                            </form>
                                
                        </div>
                    </dialog>
