{% extends 'base.html' %}
{% load static %}

{% block title %}Mis alquileres{% endblock %}

{% block content %}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, dignissimos cum explicabo quibusdam officia reprehenderit odit inventore, natus officiis soluta saepe earum. Modi dolor nihil eveniet qui. Minus, quia iure.</p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}