{% extends 'base.html' %}
{% load static %}
{% block title %}Mis alquileres{% endblock %}

{% block content %}
<div class="flex justify-center flex-col items-center mt-10">
        <details class="glass-dark md:w-3xl p-4 border-gray-100 border-2 rounded-2xl min-h-16 w-xs details">
            <summary class="font-TikTok-sans font-medium text-lg flex items-center gap-1 justify-between hover:cursor-pointer">Crear<i class="bi bi-caret-up icon-caret"></i></summary>
            <div class="flex justify-center pt-6 flex-col items-center gap-2.5 slide-down">
                <div class="glass-white flex items-center p-2 justify-between font-TikTok-sans w-full">
                    <p>Crear alquiler</p>
                    {% include 'formularioalquiler.html' %}
                </div>
            <!-- <div class="flex items-center p-2 justify-between border-gray-100 border-2 rounded-3xl w-3xl font-TikTok-sans">
                <p>Crear Dueño</p>
                <a class="glass-blue p-2 rounded-lg" href="{% url 'crear_dueno' %}">Crear</a>
            </div> -->
            </div>

        </details>
</div>


<div class="glass-only pt-10 pb-10 xl:ml-64 xl:mr-64 lg:ml-16 lg:mr-16 mt-10">
    <div class="flex justify-center flex-col items-center">
        {% for alquiler in alquileres %}
            <details class="glass-dark md:w-3xl p-3 border-gray-100 border-2 rounded-2xl m-2 w-xs details">
                <summary class="font-TikTok-sans font-medium flex items-center hover:cursor-pointer">{{ alquiler.Direccion_Propiedad }}</summary>
                <div class="mt-2">
                    <ul>
                        <li>Inquilino: {{ alquiler.Inquilino }}</li>
                        <li>Fecha del contrato: {{ alquiler.Fecha_contrato|date:'d/m/Y' }}</li>
                        <li>Precio: ${{ alquiler.Precio_mensual }}</li>
                        <li>Agua: ${{alquiler.Precio_Agua}}</li>
                        <li>ABL: ${{alquiler.Precio_ABL}}</li>
                        <li>Cada cuanto se actualiza: {{ alquiler.Meses_actualizacion_IPC }} meses</li>
                        <li>Ultima actualizacion: {{ alquiler.Porcentaje_actualizacion}}%</li>
                        <li>Metodo de pago: {{ alquiler.Cancelacion_pago}}</li>
                    </ul>
                </div>
                <div class="mt-2 pt-1.5 border-t border-gray-300">
                    {% include 'formularioeditaralquiler.html' %}
                    {% include 'formularioeliminaralquiler.html' %}
                </div>
            </details>
        {% endfor %}
    </div>
    <div class="flex justify-end mr-10 mt-10">
        <button id="imprimir-pagina-btn" class="glass-blue rounded-md p-1.5 hover:cursor-pointer"><span class="text-base">Imprimir </span><i class="bi bi-printer text-base"></i></button>
    </div>
    
</div>

<iframe id="print-iframe" name="print-iframe" style="display: none;"></iframe>
<script src="/static/mis_alquileres.js"></script>
<div class="-z-20 bg-base absolute inset-0 mt-60"></div>
{% endblock %}