@import url("https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap");
@import "tailwindcss";
@theme {
    --color-azulado: #5C789E;
    --color-azulado-claro: #5c789ebe;
    --font-TikTok-sans: "TikTok Sans", sans-serif;
}