.glass-card{
background: rgba(0, 0, 0, 0.16);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.5px);
}

.glass-blue{
background: rgba(92, 120, 158, 0.23);
border-radius: 16px;
backdrop-filter: blur(4.8px);
-webkit-backdrop-filter: blur(4.8px);
border: 1px solid rgba(92, 120, 158, 0.12);
}