.glass-card{
background: rgba(0, 0, 0, 0.16);
box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
backdrop-filter: blur(7.5px);
}

.glass-blue{
background: rgba(92, 120, 158, 0.23);
border-radius: 16px;
backdrop-filter: blur(4.8px);
-webkit-backdrop-filter: blur(4.8px);
border: 1px solid rgba(92, 120, 158, 0.12);
}
.glass-white{
background: rgba(255, 255, 255, 0);
border-radius: 16px;
backdrop-filter: blur(5.1px);
-webkit-backdrop-filter: blur(5.1px);
border: 1px solid rgba(109, 109, 109, 0.14);
}
.glass-dark{
background: rgba(109, 109, 109, 0.05);

backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(109, 109, 109, 0.14);
}

summary {
  list-style: none; /* Oculta el marcador por defecto */
}
summary::-webkit-details-marker {
  display: none; /* Oculta el marcador en navegadores basados en WebKit (Chrome, Safari) */
}

.icon-caret {
    transition: transform 0.9s ease; /* Agregamos una transición para que la rotación sea suave */
    transform: rotate(0deg);
  }

  /*
  Cuando el <details> esté abierto, rotamos el icono 180 grados
  para que apunte hacia abajo.
  */
  details[open] .icon-caret {
    transform: rotate(180deg);
  }

details{
    max-height: 64px;
    transition: 0.9s ease-out;
}
 details[open]{
    max-height: 300px;
}

.slide-down{
transform: translateY(-32px); /* Inicia ligeramente arriba */

transition: transform 0.45s ease;
}
details[open] .slide-down {
transform: translateY(0); /* Se desliza a su posición original */
}

.glass-only{
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12.4px);
-webkit-backdrop-filter: blur(12.4px);
}


.bg-estilo{
  background-image: radial-gradient(
        circle at top center,
        rgba(92, 120, 158, 0.5),
        transparent 70%
      );
      filter: blur(80px);
      background-repeat: no-repeat;
}